.list {
    list-style: none;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 95%;
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
    .listItem {
        list-style: none;
        padding: 5px 0;
        margin: 0;
        th, td {
            justify-self: center;
            align-self: center;
            text-align: center;
            font-size: 16px;
            padding: 10px;
            border: 1px solid black;
        }
    }
}