$orange: #E27D60;

.search {
    display: flex;
    justify-content: center;
    margin: 25px;
    .select {
        font-size: 14px;
        box-sizing: border-box;
        margin-right: 5px;
        padding: 5px;
        width: 10%;
        border-radius: 2px;
        background-color: $orange;
    }
    .input {
        font-size: 14px;
        padding: 5px 5px;
        width: 50%;
        margin-right: 5px;
    }
    .button {
        font-size: 14px;
        padding: 5px 20px;
        width: 10%;
        background-color: $orange;
    }
}